

/* Body styles */
body {
    background-color: #F8F9FA;
}



/* MAIN CONTENT CSS */

.posts-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    background:#343A40;
    border-radius: 20px;
    margin: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    width: 100vw;
    margin-bottom: 3rem;
    margin-top: 7rem;
    color:#212529;
}

h2 {
    text-align: center;
    color:#343A40;
    margin: 1rem;
}

h5 {
    text-align: center;
    color: #343A40;
}

.img-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

p {
    text-align: center;
    color:#F8F9FA;
    margin: 1rem;
    font-size: 1.5rem

}



.blog-image {
    border-radius: 50%;
    border: 0.5rem solid #F8F9FA;
}



@media only screen and (min-width: 850px) {

    .posts-container {
        display: flex;
        flex-direction: column;
       
        align-items: center;


    }

    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        
      
    }

    .img-container {
        background-color: #343A40;
        border-radius: 20px;
        float: left;
    }




}


















/* FOR SOCIAL CSS */
/* Footer styles (mobile first) */

footer {
    display: inline-block;
    width: 100%;
    bottom: 0;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1rem;
}

.social li > a {
    color: #212529;
    text-decoration: none;
    
}
/* social list ref hover color */
.social li > a:hover {
    color: lightblue;
    transition: color 0.2s;
}

/* Social icon customisation */
.social li .social-icon {
    font-size: 4rem; 

}

/* Social MQ's  */
@media only screen and (min-width: 401px) {
    .social li.social-icon {
        font-size: 8rem; 
    }
}