

/* Body styles */
body {
    background-color: #F8F9FA;
}




















body {width: 100%;
    height: 100vh;
    margin: 0;
    background-color:#F8F9FA;
    color: rgb(0, 0, 0);
    font-family: Tahoma;
    font-size: 16px;}
  
  
  h1,p { margin: 1em auto;
    text-align: center;}
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  label {display: block;
    margin: 0.5rem 0;}















    /* FOR SOCIAL CSS */
/* Footer styles (mobile first) */

footer {
    display: inline-block;
    width: 100%;
    bottom: 0;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1rem;
}

.social li > a {
    color: #212529;
    text-decoration: none;
    
}
/* social list ref hover color */
.social li > a:hover {
    color: lightblue;
    transition: color 0.2s;
}

/* Social icon customisation */
.social li .social-icon {
    font-size: 4rem; 

}

/* Social MQ's  */
@media only screen and (min-width: 401px) {
    .social li.social-icon {
        font-size: 8rem; 
    }
}