* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Body styles */
body {
  background-color: #f8f9fa;
}

h1 {
    margin-top: 7rem;
    text-align: center;
    color:#343a40;
    font-size: 4rem;
}


form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem;
}

label {
  font-size: 2rem;
  color:#f8f9fa
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #343a40;
  border-radius: 20px;
  margin: 1rem;

  
}

input[type="email"],
textarea, input[type="name"] {
  background-color: #f8f9fa
}

@media only screen and (min-width: 850px) {
    .form-container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
        
    }
}


/* FOR SOCIAL CSS */
/* Footer styles (mobile first) */

footer {
  display: inline-block;
  width: 100%;
  bottom: 0;
}

.social {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 1rem;
}

.social li > a {
  color: #212529;
  text-decoration: none;
}
/* social list ref hover color */
.social li > a:hover {
  color: lightblue;
  transition: color 0.2s;
}

/* Social icon customisation */
.social li .social-icon {
  font-size: 4rem;
}

/* Social MQ's  */
@media only screen and (min-width: 401px) {
  .social li.social-icon {
    font-size: 8rem;
  }
}
