/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Mobile navigation style used checkbox trick to make
clickable icon to show menu from the left */

.mobile-nav {
  position: fixed;
  top: 0;
  background-color: #f8f9fa;
  width: 100%;
  z-index: 5000;
}

.mobile-nav ul {
  list-style: none;
  float: left;
  margin-right: 1rem;
}

.mobile-nav ul li {
  display: inline-block;
  line-height: 4vh;
  padding: 0.5rem;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: #343a40;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.3s ease-in;
}

.mobile-nav ul li a:hover {
  color: lightblue;
  font-size: 2rem;
}

.checkbtn {
  font-size: 3rem;
  color: #212529;
  float: left;
  line-height: 5vh;
  margin-right: 0;
  display: none;
}

#check {
  display: none;
}
/* This sizing of menu is both applicable for tablet and desk top */
@media only screen and (max-width: 701px) {
  .mobile-nav ul li a {
    font-size: 2rem;
  }
}
/* This view has a media block to make the navigation become a hamburger and slide out menu
perfect for mobile and tablet viewing */
@media only screen and (max-width: 701px) {
  .checkbtn {
    display: block;
  }
  /* Added Zindex to account for the logos showing in the menu now they are no longer showing */
  .mobile-nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
    top: 80px;
    top: 48px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 5000;
  }

  .mobile-nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .mobile-nav ul li a {
    font-size: 20px;
    color: #343a40;
  }

  .mobile-nav ul li a:hover {
    color: lightblue;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
